@model Organization_Assessment_Project_NEW.Models.Timesheet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimesheetComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimesheetComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OvertimeHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OvertimeHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee.EmployeeId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedById)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TimesheetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
